:root {
  --title-s-font-family: "Inter", Helvetica;
  --title-s-font-weight: 700;
  --title-s-font-size: 20px;
  --title-s-letter-spacing: -0.4px;
  --title-s-line-height: normal;
  --title-s-font-style: normal;
  --title-l-font-family: "Inter", Helvetica;
  --title-l-font-weight: 700;
  --title-l-font-size: 50px;
  --title-l-letter-spacing: -1px;
  --title-l-line-height: 110.00000238418579%;
  --title-l-font-style: normal;
  --title-m-font-family: "Inter", Helvetica;
  --title-m-font-weight: 700;
  --title-m-font-size: 32px;
  --title-m-letter-spacing: -0.64px;
  --title-m-line-height: 110.00000238418579%;
  --title-m-font-style: normal;
  --text-s-font-family: "Inter", Helvetica;
  --text-s-font-weight: 400;
  --text-s-font-size: 16px;
  --text-s-letter-spacing: -0.32px;
  --text-s-line-height: normal;
  --text-s-font-style: normal;
  --text-XS-font-family: "Inter", Helvetica;
  --text-XS-font-weight: 400;
  --text-XS-font-size: 12px;
  --text-XS-letter-spacing: -0.24px;
  --text-XS-line-height: normal;
  --text-XS-font-style: normal;
  --colors-accent: rgba(12, 69, 238, 1);
  --colors-accentopacity: rgba(12, 69, 238, 0.3);
  --colors-black: rgba(0, 0, 0, 1);
  --colors-blackopacity: rgba(0, 0, 0, 0.3);
  --colors-gray: rgba(249, 249, 249, 1);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-lightgray: rgba(232, 232, 232, 1);
  --numbers-gap-10: 10px;
  --numbers-gap-2: 2px;
  --numbers-gap-4: 4px;
  --numbers-padding-20: 20px;
  --numbers-padding-40: 40px;
  --numbers-gap-6: 6px;
  --numbers-gap-12: 12px;
  --numbers-gap-70: 70px;
  --numbers-padding-2: 2px;
  --numbers-padding-14: 14px;
}
